@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Tailwind CSS utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif; /* ตั้งฟอนต์เริ่มต้น */
  background-color: #101525;
}

[data-highlighted] {
  background-color: transparent;
}

.selectCinema .chakra-select__indicator.css-1atg1ut {
  display: none;
}
.chakra-select__indicator.css-1atg1ut {
  color: gray;
}